<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas</title>
    <script src="../dynamics/index.js"></script>
    <link rel="stylesheet" href="../statics/index.css">
</head>
<body>
    <header>Selecciona tu casa</header>
    <br><br><br>
    <div class="casas">
        <div class="hover" id="halcones">
            <img src="../statics/media/halcon.png">
        </div>
        <br><br><br>
        <div class="hover" id="tepos">
            <img src="../statics/media/teporingue.png">
        </div>
        <br><br><br>
        <div class="hover" id="ajolotes">
            <img src="../statics/media/ajolotes.png">
        </div>
    </div>
    <div id="btn"><button type="button" id="btn-regresar">Regresar</button></div>
    

</body>
</html>