<div class="conteiner">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 25rem; height:30rem;">
            <article class="form-signin w-100 m-auto">
                <form method="post" action="register.php">
                    <h1 class="h3 mb-3 fw-normal">Registro</h1>
                    <div class="form-floating"> <!--EMAIL INPUT--> <!--email-->
                      <input type="email" class="form-control" id="email" name="email" placeholder="Tu Correp">
                      <label for="email">Correo</label>
                    </div>
                    <div class="form-floating"> <!--PSW--> <!--psw-->
                        <input type="password" class="form-control" id="psw" name="psw" placeholder="Contraseña">
                        <label for="psw">Contraseña</label>
                    </div>
                    <div class="form-floating"> <!--First Name--> <!--fname-->
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="Tus nombres">
                        <label for="fname">Nombre</label>
                    </div>
                    <div class="form-floating"> <!--Last Name--> <!--lname-->
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Tus apellidos">
                        <label for="lname">Apellidos</label>
                    </div>
                    <div class="form-floating">
                        <label for="casa"></label>
                        <select id="casa" class="form-control" name="casa">
                          <option selected>Casa...</option>
                          <option value="Teporingos">Teporingos</option>
                          <option value="Ajolotes">Ajolotes</option>
                          <option value="Halcones">Halcones</option>
                        </select>
                    </div>
                    <button class="btn btn-primary w-100 py-2" type="submit">Inicia Sesión</button>
                </form> 
            </article>
        </div>
    </div>
</div>
